body {
  background-color: white;
  margin: auto;
  text-align: center;
}
/* general styles */
.hidden{
  display: none;
}


/*nav styles*/
.nav-wrapper {
  background-color: #26669d;
  margin-bottom: 200px;
}

.brand-logo{
  font-variant: small-caps;
}
/*icons*/
.main-icons {
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

.main-icons i {
  font-size: 15em;
  margin: auto;
}

.icon-links {
  color: #62A8E5;
}

.icons-text {
  font-weight: bold;
  color: #26669d;
  font-variant: small-caps;
}

.icon-links:hover {
  filter: brightness(65%);
}

.icons-home {
  font-size: 11em;
}

/*search and results*/
select, input[type=text] {
  width: 30% !important;
}

select {
  margin: auto;
  display: inline-block;
  margin-bottom: 10px;
}

.input-field {
  text-align: center;
  margin: auto;
  width: 80%;
}

table{
  width: 90%;
  margin: auto;
}

.addBox{
  width: 10%!important;
}
.addBox input[type=text]{
  width: 90%!important;
}

button{
  margin-top: 10px;
}

/* Barcode */
.barcode {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 2.2em;
}
